{{- if (.Param "ShowBreadCrumbs") -}}
<div class="breadcrumbs">
    {{- $url := replace .Permalink (printf "%s" site.BaseURL) "" }}
    {{- $lang_url := strings.TrimPrefix (printf "%s/" .Lang) $url -}}

    <div>
    {{- print "{" -}}
        {{- print "url:" -}}
        {{- print ($url) -}}
        {{- print " " -}}
        {{- print "lang_url:" -}}
        {{- print ($lang_url) -}}
    {{- print "}" -}}
    &nbsp;&nbsp;
    </div>
    <div>

    <a href="{{ "" | absLangURL }}">{{ i18n "home" | default "Home" }}</a>
    {{- $scratch := newScratch }}
    {{- range $index, $element := split $lang_url "/" }}

    {{- $scratch.Add "path" (printf "/%s" $element )}}
    {{- $bc_pg := site.GetPage ($scratch.Get "path") -}}

    {{- if (and ($bc_pg) (gt (len . ) 0))}}
    {{- print "&nbsp;»&nbsp;" | safeHTML -}}<a href="{{ $bc_pg.Permalink }}">{{ $bc_pg.Name }}</a>


    {{- end }}
    &nbsp;&nbsp;
    {{- print "{" -}}
        {{- print "Element:" -}}
        {{- print ($element) -}}
        {{- print " " -}}
        {{- print "Scratch:" -}}
        {{- print ($scratch.Get "path") -}}
        {{- print " " -}}
        {{- print ".:" -}}
        {{- print . -}}
        {{- print " " -}}
        {{- print "bc_pg:" -}}
        {{- print $bc_pg -}}
    {{- print "}" -}}
    &nbsp;&nbsp;

    {{- end -}}
    </div>
</div>
{{- end -}}
